<div class="row">
  <div class="two-thirds column">
    <h2>What's for dinner?</h2>
    <p>The Exquisite Course is an idea-generator that shuffles ingredients from three basic food categories into thousands of new combinations, helping you solve the eternal problem of what to make for dinner. Tacos with roast sweet potatoes and crumbled feta? Farro with leeks and meyer lemon zest? The possibilities are endless...and that's just the beginning!</p>
    <p><%= button_to "GET INSPIRED!", random_path, method: 'get', class: 'button' %></p>
  </div>
  <div class="one-third column">
    <%= image_tag('pink_plate.jpg', class: 'about-pics') %>
  </div>

  <div class="one-third column">
    <%= image_tag('rice-kale-pears.png', class: 'about-pics') %>
  </div>

  <div class="two-thirds column">
    <h2>Why Exquisite Course?</h2>
    <p>Remember the surrealists? They were a wild and crazy bunch of artists that responded to the changing pace of modern life in the early 1900s by exploring bizarre and other-worldly realms.</p>

    <p>Some of these surrealists created a parlor game called <%= link_to "the exquisite corpse", "http://en.wikipedia.org/wiki/Exquisite_corpse", target: "_blank" %>, where a figure is drawn in three parts by three different people, making for some unusual portraits bearing mis-matched heads, bodies and legs.</p>

    <p>Later, the exquisite corpse idea was turned into a book for kids to make funny, mis-matched animals with lizard heads, chicken bodies and panda feet. Or panda heads, lizard bodies and chicken feet. You get the idea.</p>
  </div>

  <div class="two-thirds column">
    <h2>Real good meals</h2>
    <p>Like the surrealists' games, The Exquisite Course divides a dish into three parts and lets you swap around ingredients into endless combinations. Sometimes freakish, sometimes fantastic, always something new to inspire you in the kitchen.</p>
  </div>

  <div class="one-third column">
    <%= image_tag('tomato_meal.jpg', class: 'about-pics') %>
  </div>

  <div class="one-third column">
    <%= image_tag('banana-flax.jpg', class: 'about-pics') %>
  </div>

  <div class="two-thirds column">
    <h2>Coming soon</h2>
    <p>Soon, The Exquisite Course will offer member accounts where you can save your favorite combinations and eventually share images, recipes, tips and more.</p>

    <p>Sign up to get notified when member accounts are available!</p>

    <!-- Begin MailChimp Signup Form -->

    <div id="mc_embed_signup">
    <form action="http://twitter.us7.list-manage.com/subscribe/post?u=3df9d726e0a5d1ee55cf2e8e3&amp;id=38d3743a36" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<!--         <label for="mce-EMAIL">Subscribe for updates</label> -->
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <input type="submit" value="NOTIFY ME!" name="subscribe" id="mc-embedded-subscribe" class="button">
    </form>
    </div>
  </div>

    <!--End mc_embed_signup-->

  <div class="sixteen columns">
    <h2>A peanut-sauce-drizzled, roasted beet taco for your thoughts?</h2>
    <p>If you love cooking, or don't love cooking, but definitely love food: <strong>we want to hear from you!</strong> Please share your thoughts at <%= mail_to "exquisitecourse@gmail.com", "exquisitecourse@gmail.com", target: "_blank" %>.</p>

    <p>The Exquisite Course is a project of <%= link_to "Jill Allyn Peterson", "http://jillallyn.com/", target: "_blank" %> and <%= link_to "Kirsten Nordine", "http://twitter.com/kirsten_nordine", target: "_blank" %>.</p>
  </div>
</div>