<div class="row">
  <div class="four columns offset-by-six clearfix">
    <%= image_tag('pink_plate.jpg', class: 'about-pics') %>
  </div>
  <div class="twelve columns offset-by-two clearfix">
    <h2 class="center">What's for dinner?</h2>
    <p class="justified">The Exquisite Course is an idea-generator that shuffles ingredients from three basic food categories into thousands of new combinations, helping you solve the eternal problem of what to make for dinner. Tacos with roast sweet potatoes and crumbled feta? Farro with leeks and meyer lemon zest? The possibilities are endless...and that's just the beginning!</p>
    <p class="center"><%= link_to "GET INSPIRED!", random_path, class: 'button' %></p>
  </div>
</div>

<div class="row">
  <div class="eight columns offset-by-four">
    <%= image_tag('rice-kale-pears.png', class: 'about-pics no-border') %>
  </div>
  <div class="twelve columns offset-by-two clearfix">
    <h2 class="center">Why Exquisite Course?</h2>
    <p class="justified">Remember the surrealists? They were a wild and crazy bunch of artists that responded to the changing pace of modern life in the early 1900s by exploring bizarre and other-worldly realms.</p>

    <p class="justified">Some of these surrealists created a parlor game called <%= link_to "the exquisite corpse", "http://en.wikipedia.org/wiki/Exquisite_corpse", target: "_blank" %>, where a figure is drawn in three parts by three different people, making for some unusual portraits bearing mis-matched heads, bodies and legs.</p>

    <p class="justified">Later, the exquisite corpse idea was turned into a book for kids to make funny, mis-matched animals with lizard heads, chicken bodies and panda feet. Or panda heads, lizard bodies and chicken feet. You get the idea.</p>
  </div>
  <div class="twelve columns offset-by-two clearfix">
    <span class="attribution">Image Credits (above): <%= link_to "kale", "http://www.flickr.com/photos/crobj/8214172973/", target: "_blank" %> by <%= link_to "srqpix", "http://www.flickr.com/photos/crobj/", target: "_blank" %>, <%= link_to "CC BY 2.0", "http://creativecommons.org/licenses/by/2.0/", target: "_blank" %> license / 
    <%= link_to "Pear Still Life", "http://www.flickr.com/photos/sackton/8098580346/", target: "_blank" %> by <%= link_to "timsackton", "http://www.flickr.com/photos/sackton/", target: "_blank" %>, <%= link_to "CC BY-SA 2.0", "http://creativecommons.org/licenses/by-sa/2.0/", target: "_blank" %> license / 
    <%= link_to "Creamy Chicken & Wild Rice Soup", "http://www.flickr.com/photos/whitneyinchicago/4534318419/", target: "_blank" %> by <%= link_to "whitneyinchicago", "http://www.flickr.com/photos/whitneyinchicago/", target: "_blank" %>, <%=  link_to "CC BY 2.0", "http://creativecommons.org/licenses/by/2.0/", target: "_blank" %> license.
    </span>
  </div>
</div>

<div class="row">
  <div class="four columns offset-by-six clearfix">
    <%= image_tag('tomato_meal.jpg', class: 'about-pics') %>
  </div>

  <div class="twelve columns offset-by-two clearfix">
    <h2 class="center">Real good meals</h2>
    <p class="justified">Like the surrealists' games, The Exquisite Course divides a dish into three parts and lets you swap around ingredients into endless combinations. Sometimes freakish, sometimes fantastic, always something new to inspire you in the kitchen.</p>
  </div>
</div>

<div class="row" id="coming-soon">
  <div class="four columns offset-by-six clearfix">
    <%= image_tag('banana-flax.jpg', class: 'about-pics') %>
  </div>
  <div class="twelve columns offset-by-two clearfix">
    <h2 class="center">Coming soon</h2>
    <p>Soon, The Exquisite Course will offer member accounts where you can save your favorite combinations and eventually share images, recipes, tips and more.</p>

    <p>Sign up to get notified when member accounts are available!</p>

    <!-- Begin MailChimp Signup Form -->

    <div id="mc_embed_signup" class="center">
      <form action="http://twitter.us7.list-manage.com/subscribe/post?u=3df9d726e0a5d1ee55cf2e8e3&amp;id=38d3743a36" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <input type="submit" value="NOTIFY ME!" name="subscribe" class="button">
      </form>
    </div>
  </div>
    <!--End mc_embed_signup-->
</div>

<div class="row">
  <div class="four columns offset-by-six clearfix">
    <%= image_tag('tacos.jpg', class: 'about-pics') %>
  </div>
  <div class="twelve columns offset-by-two clearfix">
    <h2 class="center">A taco for your thoughts?</h2>
    <p>If you love cooking, or don't love cooking, but definitely love food: <strong>we want to hear from you!</strong> Please share your thoughts at <%= mail_to "exquisitecourse@gmail.com", "exquisitecourse@gmail.com", target: "_blank" %>.</p>

    <p>The Exquisite Course is a project of <%= link_to "Jill Allyn Peterson", "http://jillallyn.com/", target: "_blank" %> and <%= link_to "Kirsten Nordine", "http://twitter.com/kirsten_nordine", target: "_blank" %>.</p>
  </div>
</div>

<div class="row">
  <div class="twelve columns offset-by-two clearfix">
    <span class="attribution">
      All images by Exquisite Course/Jill Peterson 
      (<%= link_to 'follow us on Instagram!', 'http://instagram.com/exquisitecourse', target: '_blank' %>) unless otherwise noted.
    </span>
  </div>
</div>