<div class="row">
  <div class="sixteen columns">
    <h2>Need some inspiration for your next meal?</h2>
    <p>The Exquisite Course is an idea-generator that shuffles ingredients from three basic food categories into thousands of new combinations, helping you solve the eternal problem of what to make for dinner. Tacos with roast sweet potatoes and crumbled feta? Farro with leeks and meyer lemon zest? The possibilities are endless...and that's just the beginning!</p>

    <p><%= link_to "Get Started!", random_path %></p>

    <h2>What's up with the name</h2>
    <p>Remember the surrealists? They were a wild and crazy bunch of artists that responded to changing pace of modern life in the early 1900s by exploring bizarre and the other-worldly realms.</p>

    <p>Some of these surrealists created a parlor game called <%= link_to "the exquisite corpse", "http://en.wikipedia.org/wiki/Exquisite_corpse", target: "_blank" %>, where a figure is drawn not all at once by one person, but in three parts by three different people. This made for some unusual creatures bearing mis-matched heads, bodies and legs.</p>

    <p>Later, this became a fun game for kids in the form of a book that lets you make un-heard-of animals by putting a bird head on a lizard body with cat feet. Or a mouse head on a panda body with duck feet. You get the idea.</p>

    <h2>Surreal meals</h2>
    <p>Just like the its surrealist predecessor, The Exquisite Course divides a dish into three parts and lets you play around with swapping the elements of your meal into new combinations. Sometimes freakish, sometimes fantastic, always something new to inspire you in the kitchen.</p>

    <h2>Coming soon</h2>
    <p>Soon, The Exquisite Course will offer member accounts where you can save your favorite combinations and eventually share images, recipes, tips and more.</p>

    <p>Sign up to get notified when member accounts are available!</p>

    <!-- Begin MailChimp Signup Form -->

    <div id="mc_embed_signup">
    <form action="http://twitter.us7.list-manage.com/subscribe/post?u=3df9d726e0a5d1ee55cf2e8e3&amp;id=38d3743a36" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<!--         <label for="mce-EMAIL">Subscribe for updates</label> -->
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <input type="submit" value="NOTIFY ME!" name="subscribe" id="mc-embedded-subscribe" class="button">
    </form>
    </div>

    <!--End mc_embed_signup-->

    <h2>A peanut-sauce-drizzled, roasted beet spring roll for your thoughts?</h2>
    <p>If you love cooking, or don't love cooking, but definitely love food: <strong>we want to hear from you!</strong> Please share your thoughts at <%= mail_to "exquisitecourse@gmail.com", "exquisitecourse@gmail.com", target: "_blank" %>.</p>

    <p>The Exquisite Course is a project of <%= link_to "Jill Allyn Peterson", "http://jillallyn.com/", target: "_blank" %> and <%= link_to "Kirsten Nordine", "http://twitter.com/kirsten_nordine", target: "_blank" %>.</p>
  </div>
</div>