.row
  .one-third.column
    .ingredient
      = image_tag(@starch.photo)
      .overlay
        .name
          #starch
            = @starch.name
      %a.up-arrow{:href => "/combinations/new"}
        %i.icon-chevron-up.icon-4x
      %a.down-arrow{:href => "/combinations/new"}
        %i.icon-chevron-down.icon-4x


  .one-third.column
    .ingredient
      = image_tag(@veggie.photo)
      .overlay
        .name
          #vegetable
            = @veggie.name
      %a.up-arrow{:href => "/combinations/new"}
        %i.icon-chevron-up.icon-4x
      %a.down-arrow{:href => "/combinations/new"}
        %i.icon-chevron-down.icon-4x

  .one-third.column
    .ingredient
      = image_tag(@flair.photo)
      .overlay
        .name
          #flair
            = @flair.name
      %a.up-arrow{:href => "/combinations/new"}
        %i.icon-chevron-up.icon-4x
      %a.down-arrow{:href => "/combinations/new"}
        %i.icon-chevron-down.icon-4x

.row
  .one.column.offset-by-fifteen
    %a#spin-again{:href => "/combinations/new"}
      %i.icon-random.icon-2x
