.row
  .two-thirds.column
    %header.clearfix
      %h1
        %a{:href => root_path}
          %span.archive The 
          %span.commercial Exquisite 
          %span.deming Course
      %nav
        %ul.archive.clearfix
          %li= link_to 'Join', '#'
          %li= link_to 'Login', '#'
          %li= link_to 'About', '#'

.row
  .one-third.column
    .ingredient
      = image_tag(@starch.photo)
      .overlay
        .name
          #starch
            = @starch.name

  .one-third.column
    .ingredient
      = image_tag(@veggie.photo)
      .overlay
        .name
          #vegetable
            = @veggie.name

  .one-third.column
    .ingredient
      = image_tag(@flair.photo)
      .overlay
        .name
          #flair
            = @flair.name

.row
  .one.column.offset-by-fifteen
    %a#spin-again{:href => "/combinations/new"}
      %i.icon-random.icon-2x
