<div id="starches" class="three-column">
  <%= image_tag(@starch.photo) %>
  <span class="overlay">
    <%= @starch.name %>
  </span>
</div>

<div id="vegetables" class="three-column">
  <%= image_tag(@veggie.photo) %>
  <span class="overlay">
    <%= @veggie.name %>
  </span>
</div>

<div id="flair" class="three-column">
  <%= image_tag(@flair.photo) %>
  <span class="overlay">
    <%= @flair.name %>
  </span>
</div>
