.row
  .one-third.column
    .ingredient
      = image_tag(@starch.photo)
      .overlay
        .name
          #starch
            = @starch.name
      = link_to raw('<i class="icon-chevron-up icon-4x"></i>'), '#', class: 'up-arrow'
      = link_to raw('<i class="icon-chevron-down icon-4x"></i>'), '#', class: 'down-arrow'

  .one-third.column
    .ingredient
      = image_tag(@veggie.photo)
      .overlay
        .name
          #vegetable
            = @veggie.name
      = link_to raw('<i class="icon-chevron-up icon-4x"></i>'), '#', class: 'up-arrow'
      = link_to raw('<i class="icon-chevron-down icon-4x"></i>'), '#', class: 'down-arrow'

  .one-third.column
    .ingredient
      = image_tag(@flair.photo)
      .overlay
        .name
          #flair
            = @flair.name
      = link_to raw('<i class="icon-chevron-up icon-4x"></i>'), '#', class: 'up-arrow'
      = link_to raw('<i class="icon-chevron-down icon-4x"></i>'), '#', class: 'down-arrow'

.row
  .one.column.offset-by-fifteen
    = link_to raw('<i class="icon-random icon-2x"></i>'), random_path, :id => "spin-again"