.row
  .one-third.column
    .ingredient
      = image_tag(@starch.photo)
      .overlay
        .name
          #starch
            = @starch.name
      %span.attribution.right-text
        Photo by 
        = link_to 'Some Person', '#' 
        = link_to 'CC BY 2.0', '#'

  .one-third.column
    .ingredient
      = image_tag(@veggie.photo)
      .overlay
        .name
          #vegetable
            = @veggie.name
      %span.attribution.right-text
        Photo by Another Person, CC BY-SA 2.0

  .one-third.column
    .ingredient
      = image_tag(@flair.photo)
      .overlay
        .name
          #flair
            = @flair.name
      %span.attribution.right-text
        Photo by Whoever, CC BY-SA 2.0
