.row
  .one-third.column
    .ingredient
      = image_tag(@starch.photo)
      .overlay
        .name
          #starch
            = @starch.name

  .one-third.column
    .ingredient
      = image_tag(@veggie.photo)
      .overlay
        .name
          #vegetable
            = @veggie.name

  .one-third.column
    .ingredient
      = image_tag(@flair.photo)
      .overlay
        .name
          #flair
            = @flair.name
