.row
  .one-third.column
    .ingredient
      = image_tag(@starch.photo.file)
      .overlay
        .name
          #starch
            = @starch.name
      %span.attribution.right-text
        = show_attribution(@starch.photo)

  .one-third.column
    .ingredient
      = image_tag(@veggie.photo.file)
      .overlay
        .name
          #vegetable
            = @veggie.name
      %span.attribution.right-text
        = show_attribution(@veggie.photo)

  .one-third.column
    .ingredient
      = image_tag(@flair.photo.file)
      .overlay
        .name
          #flair
            = @flair.name
      %span.attribution.right-text
        = show_attribution(@flair.photo)

