<!DOCTYPE html>
<html>
<head>
  <title>The Exquisite Course</title>
  <meta name="viewport" content="width=device-width" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag '/ec-favicon.png' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
    <div class="container">
      <%= render :partial => 'layouts/header' %>
      
      <%= yield %>
      
    </div>
</body>
</html>
